.wrap {
  &.invisible {
    opacity: 0;
    visibility: hidden;
  }
  transition: all 1s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d1f1d1;
  max-height: 100%;
  max-width: 100%;

  h2 {
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
    color: #656c6d;
  }

  .divideLineBlock {
    margin: 40px auto;
    width: 66.6666666667%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .line {
      height: 1px;
      background-color: #ddd;
      width: 40%;
      margin: 0 5px;
    }

    .letterIcon {
      color: #64a6fd;

      svg {
        width: 20px;
        height: 20px;
      }
    }

  }

  .personalInfosBlock {
    padding: 0 24px 50px;
    //border-bottom: 1px solid #efe9e9;
    border-bottom: 1px solid #111;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    > div:nth-child(1) {
      display: flex;
      align-items: center;
      color: #656c6d;

      svg {
        margin-right: 16px;
      }

      h6 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 110%;
      }
    }

    .myCommonInfo {
      p {
        margin: 0 auto 80px;
        font-size: 15px;
        line-height: 2;
        color: #656c6d;
        font-weight: 400;
      }
    }

    .exactlyMyInfo {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto;
      float: left;
      color: #656c6d;

      ul {
        li {
          padding-bottom: 13px;
          font-size: 13px;

          span {
            color: #222;
            font-weight: 700;
          }
        }
      }
    }

    a {
      font-weight: 700;
      height: 42px;
      line-height: 42px;
      font-size: 15px;
      float: left;
      //display: flex;
      text-decoration: none;
      color: #fff;
      text-align: center;
      letter-spacing: .5px;
      cursor: pointer;
      text-transform: uppercase;
      vertical-align: middle;
      padding: 0 2rem;

      &.btn:not(.btnBlog) {
        margin-right: 25px;
        background: #ffb400;
      }

      &.btn:hover {
        box-shadow: none;
        color: #eee;
      }

      &.btnBlog {
        border: 1px solid #ffb400;
        color: #ffb400;
        background: transparent;
        transition: .1s;

        svg {
          color: #ffb400;
        }
      }
      &.btnBlog:hover {
        color: #fff;
        background: #ffb400;
        svg {
          color: #fff;
        }
      }

      svg {
        font-size: 22px;
        padding-left: 8px;
        //line-height: inherit;
        color: #fff;
      }
    }

  }

  .sliderWrap {

    display: flex;
    .controlsBlock {
      padding: 0 24px;
      width: 33.3333333333%;
      left: auto;
      right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .controlBtn {
        background: rgba(0, 0, 0, 0.1) !important;
        box-shadow: none;
        padding: 24px;
        margin: 24px 0;
        cursor: pointer;
        user-select: none;
        color: #656c6d;
        line-height: 1.5;
        font-size: 20px;
        background: #fff;
        width: 100%;

        svg{
        margin-right: 13px;
        }

        h6 {
          display: inline-block;
          text-transform: uppercase;
          font-size: 1.15rem;
          line-height: 110%;
        }

        &.active{
          background: #ffb400 !important;
        }
      }

    }
    .slidesBlock {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
      padding: 0 24px !important;

      .slide {
        >div{
          width: 100%;
        }
        &:nth-child(1){

        }
        &:nth-child(2){

        }
      }
    }
  }

  .closeButton {
    position: absolute;
    top: 32px;
    right: 48px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
    color: #656c6d;

    svg {
      width: 100%;
      height: 100%;
    }
  }

}

