.bigButtonContainer {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.invisible{
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    >div .firstWord {
      transform: translateY(-45px);
    }
    >div .secondWord {
      transform: translateY(45px);
    }
  }

  > div {
    display: inline-block;
    height: 45px;
    overflow: hidden;

    > span {
      display: inline-block;
      line-height: 45px;
      font-size: 30px;
      color: #555;
      position: relative;
      transition: all 0.5s ease;
      //transform: translateY(100%);

      &:before {
        content: attr(data-text);
        position: absolute;
        left: 0;
        width: 100%;
      }
    }

    .firstWord {
      &:before {
        top: 100%;

        color: #ffb400;
      }
    }

    .secondWord {
      color: #ffb400;

      &:before {
        bottom: 100%;
        left: 0;
        color: #555;
      }
    }
  }
}
