.app {
  transition: all 1s ease;
  //display: flex;

  &.invisible {
    transform: scaleX(0);
  }

  &.visible {
    transform: scaleX(1);

    display: flex;

    .mainPicture {
      background-image: url('/img/joly.jpg');
      padding: 0;
      margin-top: 24px;
      margin-left: 24px;
      height: calc(100vh - 48px);
      background-size: cover;
      background-position: center center;
      width: calc(33.3333333333% - 48px);

      .photo {
        //max-height: 100vh;
        //width: 40%;
      }
    }

    .contentColumn {
      position: absolute;
      height: 100%;
      overflow: hidden;
      width: 66.6666666667%;
      left: 33.3333333333% !important;
      padding: 0;
      margin: 0;
      top: 0;
      background-color: aliceblue;

      > section {
        position: absolute;
        width: calc(50% - 24px);
        height: calc(50% - 36px);
      }

      .topLeft {
        top: 24px;
        left: 0;
        position: relative;
        background: transparent;
      }

      > section:nth-child(2) {
        top: 24px;
        left: 50%;
        background: #fff;
      }

      > section:nth-child(3) {
        top: calc(50% + 12px);
        left: 0;
        background: #fff;
      }

      > section:nth-child(4) {
        top: calc(50% + 12px);
        left: 50%;
        background: #fff;
      }


      .item {
        transition: width 1s ease,
        height 1s ease,
        top 1s ease,
        bottom 1s ease,
        left 1s ease,opacity 1s ease,visibility 1s ease,
        right 1s ease;

        background: antiquewhite;

        &.activeItem {
          width: calc(100% - 24px);
          height: calc(100% - 48px);
          top: 24px;
          left: 0;
          background: #bab3b3;
        }

        &.deactiveItem {
          color: #fff;
          width: 0px;
          height: 0px;
          opacity: 0;
          visibility: hidden;

          h2, p, span, i {
            display: none;
          }
        }

        .miniBlock {
        }
      }


    }
  }
}

.fontAwesome {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}